<div class="footer-content-container">
  <h2 *ngIf="askedQuestions.length === questions.length">{{titleResult}}</h2>
  <div>{{textResult}}</div>
  <p>{{askedQuestions.length}}/{{questions.length}} concluídos</p>
  <div class="icon-list" >
    <span
      *ngFor="let askedQuestion of askedQuestions"
      [ngClass]="askedQuestion"
    ></span>
  </div>

  <div *ngIf="askedQuestions.length === questions.length" class="restart-button">
    <button (click)="handleReset()">Reiniciar recall</button>
  </div>
</div>
