.icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list>span{
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.zap{
  background-image: url("../../assets/zap-icon.png");
}

.almost-remember{
  background-image: url("../../assets/almost-remember-icon.png");
}

.not-remember{
  background-image: url("../../assets/not-remember-icon.png");
}

.footer-content-container{
  text-align: center;
  padding-top: 20px;
}

.restart-button{
  margin-top: 10px;
}

.restart-button>button{
  width: 246px;
  height: 54px;
  cursor: pointer;
  background: rgba(251, 107, 107, 1);
  border: 1px solid rgba(251, 107, 107, 1);;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
}
